<!DOCTYPE html>
<html>

<head>
    <title>Productos en Tiempo Real made up by Isaac</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io();
            let currentPage = 1;
            let totalPages = 0;

            socket.on('updateProducts', function (data) {
                const { product, totalPages: total } = data;
                totalPages = total;
                const productContainer = document.getElementById('productContainer');
                const pageInfo = document.getElementById('pageInfo');

                productContainer.innerHTML = `
                <h2>${product.title}</h2>
                <p>${product.description}</p>
                <p>Precio: ${product.price}</p>
            `;

                pageInfo.textContent = `Página ${currentPage} de ${totalPages}`;
            });

            document.getElementById('prevPage').addEventListener('click', function () {
                if (currentPage > 1) {
                    currentPage--;
                    socket.emit('requestPage', currentPage);
                }
            });

            document.getElementById('nextPage').addEventListener('click', function () {
                if (currentPage < totalPages) {
                    currentPage++;
                    socket.emit('requestPage', currentPage);
                }
            });
        });
    </script>
</head>

<body>
    <h1>Productos en Tiempo Real</h1>
    <button id="prevPage">Anterior</button>
    <button id="nextPage">Siguiente</button>
    <div id="pageInfo"></div>
    <div id="productContainer"></div>
</body>

</html>